<div class="event">
  <div class="content">
    <div class="summary">
    <img id="profile-pic" src="<%= message.user.image%>" />
      <em class="username"><%= message.user.username %>:</em><%= message.body %>
       </div>
      </div>
     </div> 