<h2 class="ui center aligned icon header">
  <i class="circular moon icon grey"></i>
  Enter the Den
</h2>

<div class="ui one column grid">

 <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu friends">
        <div class="item">Pack Members</div>
          <a class="item">
            Stephen
          </a>
          <a class="item">
            Erica
          </a>
          <a class="item">
            Andrew
          </a>
          <a class="item">
            Justin
          </a>
          <a class="item">
            Alden
          </a>
        </div>
      </div>
    </div>
  </div>
  

  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="messages">
        <div class="ui  feed" id="chatroom-feed">
          <h4 class="ui header">Chatroom</h4>
         <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
      <%= form_for(@message, html: {class: 'ui reply form', role: 'form'}, url: message_path, remote: true) do |f|%>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body, placeholder: "Awooo..."%>
              <%= f.button '<i class="bordered inverted black reply icon"></i>'.html_safe %>
            </div>
          </div>
        <%end%>
       </div>
      </div>
    </div>

      
    </div>
  </div>


</div>